.introjs-hint > .introjs-hint-pulse:hover {
  border: 5px solid rgba(60,243,135, 0.6);
}

.introjs-hint > .introjs-hint-pulse-blue:hover {
  border: 5px solid rgba(50,143,224, 0.6) !important;
}

.introjs-hint > .introjs-hint-pulse-green:hover {
  border: 5px solid rgba(160,176,76, 0.6) !important;
}

.introjs-hint > .introjs-hint-pulse {
  width: 10px;
  height: 10px;
  border: 5px solid rgba(12,240,106, 0.35);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(9,192,84, 0.24);
  z-index: 10;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.introjs-hint-pulse-blue{
    width: 10px;
    height: 10px;
    border: 5px solid rgba(0,116,217,0.35) !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgba(0,92,173,0.24) !important;
    z-index: 10;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.introjs-hint-pulse-green{
    width: 10px;
    height: 10px;
    border: 5px solid rgba(181,201,76,0.35) !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgba(105,125,0,0.24) !important;
    z-index: 10;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.toggle-menu-block{
    display: block;
    position: fixed; 
    width: 100px;
    height : 40px;
    text-decoration : none;
    color : white;
    font-size : 0.9em;
    font-weight : bold;
    cursor : pointer;
    text-align : center;
    line-height: 40px;
    z-index: 999999;
    bottom: 5px;
    right: 10px;
    border: 0 solid #CFCFCF; 
    border-radius: 3px;
}

.toggle-menu-add-comment{
    margin-bottom: 45px;
    background-color: #0CF06A;
}

.toggle-menu-add-step{
    margin-bottom: 90px;
    background-color: #0074D9;
}

.toggle-menu-add-file{
    margin-bottom: 135px;
    background-color: #96B300;
}

.toggle-menu-run-guide{
    display: none;
    margin-bottom: 190px;
    background-color: #7D0CF0;
    border-top-left-radius: 0px;
}

.toggle-menu-step-list{
    display: none;
    margin-bottom: 230px;
    background-color: #2ECC40;
    margin-left: 0px;
    height: auto;
    width: auto;
    list-style: none;
    padding: 5px;
    text-align: left;
    font-family: Arial;
}

.guide-step-list-element{
    line-height: 18px;
    margin: 0px;
}

#fileDropArea{
    width: 200px;
    height: 100%;
    border: 1px dashed lightblue;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#comment-textarea, #path-selector{
    margin: 10px;
    width: 200px;
    white-space: pre-line;
}

.dz-filename > span{
    white-space: pre-wrap;
}